@import url(/src/css/global/global.css);
body {
  background-color: var(--bg--color);
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  display: flex;
  gap: 100px;
  flex-direction: column;
  margin-top: 100px;
  padding: 0px 100px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 34px;
}
header a,
h1 {
  color: var(--font--white);

}
.header-menu {
  display: flex;
  gap: 32px;
  padding: 12px;
}
.header-menu a:hover {
  color: var(--font--contrast);
}
.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 100%;
  border-bottom: 1px solid var(--detail--color);
}
.about-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-me h1 {
  font-size: 32px;
  line-height: 1.2;
  color: var(--font--white);
}
.about-me p {
  color: var(--font--grey);
}
.about-me-text {
  max-width: 55ch;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 50px 0px;
}
.projects-container-title {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}
.projects-container-title h1 {
  font-size: 42px;
  color: var(--font--white);
}
.projects-container-title p {
  color: var(--font--grey);
}
.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 100px;
}
.projects-content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  gap: 32px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 700px;
}
.content-link {
  padding-top: 24px;
}
.content-link a {
  color: var(--font--contrast);
}
.content-info-text {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.content-info-text p{
  text-align: start;
  color: var(--font--grey);
}
.content-info-text h1{
  font-size: 32px;
}
.content-info-detail {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.informacoes {
  display: flex;
  font-size: 12px;
  width: 100%;
  border-bottom: 1px solid var(--detail--color);
  padding-bottom: 8px;
}
.content-info-grid {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 65px;
}
.informacoes {
  justify-content: center;
  grid-row: 1;
  grid-column: 1/-1;
}
.content-info-grid .ano ,
.content-info-grid .linguagem {
  border-bottom: 1px solid var(--detail--color);
  grid-column: 1/-1;
}
.ano{
  grid-row: 2;
  font-size: 14px;
}
.ano-numero {
  text-align: center;
  grid-column: 3;
  grid-row: 2;
  font-size: 12px;
}
.linguagem{
  grid-row: 3;
  font-size: 14px;
}
.linguagem-nome{
  text-align: center;
  grid-column: 3;
  grid-row: 3;
  font-size: 12px;
}
.projects-img {
  background-color: var(--img--bg);
  width: 506px;
  border-radius: 10px;
  padding: 24px 24px;
}
.contact-container {
  background-color: var(--footer--bg);
  padding: 50px 100px;
  margin-top: 100px;
  width: 100%;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.contact-title {
  margin-bottom: 32px;
  text-align: start;
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social-media a {
  color: var(--font--contrast);
}
.social-media div {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1366px) {
  .content-info-text p{
    max-width: 50ch;
  }
  .projects-container-title h1{
    font-size: 32px;
  }
  .content-info {
    gap: 12px;
  }
  .content-info-grid {
    grid-template-columns: 1fr 300px 120px;
  }
  .content-info-text h1{
    font-size: 24px;
  }
  .projects-img {
  padding: 16px 16px;
 }
  .content  {
    align-items: center;
  }
  .content-link {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1252px) {
  .projects-content {
    flex-direction: column;
  }
  .content-link {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 241px) {
  header {
    padding: 12px 14px;
  }
  header h1 {
    font-size: 18px;
  }
  .header-menu {
    gap: 12px;
    font-size: 12px;
  }
  main {
    gap: 32px;
    padding: 0px 30px;
  }
  .projects-content {
    flex-direction: column;
  }
  .projects-img {
    max-width: 100%;
    padding: 12px 14px;
  }
  .content-info-grid {
    display: grid;
    grid-template-columns: 1fr 1px 20px;
    gap: 65px;
  }
  .content-link a{
    font-size: 10px;
  }
  .informacoes {
    font-size: 12px;
  }
  .ano, 
  .linguagem {
    font-size: 12px;
  }
  .ano-numero,
  .linguagem-nome{
    font-size: 10px;
  }
  .about {
    flex-direction: column-reverse;
    gap: 12px;
    padding-bottom: 50px;
    width: 100%;
    border-bottom: 1px solid var(--detail--color);
  }
  .about-me h1 {
    font-size: 18px;
    line-height: 1;
    color: var(--font--white);
  }
  .about-me p {
    line-height: 1;
    color: var(--font--grey);
  }
  .about-me-text p{
  font-size: 12px;
}
  .projects-container-title h1 {
    font-size: 18px;
  }
  .projects-container-title p {
    font-size: 12px;
  }
  .content-info-text h1 {
    font-size: 12px;
  }
  .content-info-text p{
  font-size: 10px;
  max-width: 30ch;
}
  .contact-container {
    padding: 12px 14px ;
  }
  .contact-title h1 {
    font-size: 18px;
  }
}